n8n/ASR/ASR_Workflow.json
{
  "name": "ASR Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "asr",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -500,
        -160
      ],
      "id": "f5e1c8b6-5e0f-4498-867c-5e1709f98f67",
      "name": "Webhook",
      "webhookId": "f1989cc7-c99c-42f0-8aa3-43ff3f7dbb17"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -280,
        -160
      ],
      "id": "f4c87951-cfe7-4624-8d71-a3654755ee25",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -440,
        100
      ],
      "id": "e45005de-efa8-4741-9cbe-edeec8bd489b",
      "name": "Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ccn6QQ4WVrWKookN",
          "name": "Google Gemini"
        }
      }
    },
    {
      "parameters": {
        "sseEndpoint": "https://sentient-asr-dev-mcp.sentient.io/mcp/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        20,
        80
      ],
      "id": "62d03246-0534-49bd-89fd-ca8dfcbb7201",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.chat_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -200,
        60
      ],
      "id": "6f395fbb-486c-4d55-a5d1-19d3f8be5474",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cda9dab6-9597-4bef-98a6-4ae31d0eb5d9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ecd6d69669e5a1ef1e4ab4d2c0ffa7a567b2254646d518295df1e50fc11c25ea"
  },
  "id": "0GQdOfpnttZbs05U",
  "tags": []
}